body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  background: radial-gradient(circle, rgba(99,111,125,1) 0%, rgba(238,174,202,1) 87%, rgba(99,111,125,1) 100%);
  animation: smoothAnim ease infinite;
}

@keyframes smoothAnim {
  0% {
    background: radial-gradient(circle, rgba(99,111,125,1) 1%, rgba(238,174,202,1) 86%, rgba(99,111,125,1) 100%);

  }
  10% {
    background: radial-gradient(circle, rgba(99,111,125,1) 2%, rgba(238,174,202,1) 85%, rgba(99,111,125,1) 100%);


  }
  30% {
    background: radial-gradient(circle, rgba(99,111,125,1) 3%, rgba(238,174,202,1) 84%, rgba(99,111,125,1) 100%);
  }
  40% {
    background: radial-gradient(circle, rgba(99,111,125,1) 4%, rgba(238,174,202,1) 83%, rgba(99,111,125,1) 100%);
  }
  50% {
    background: radial-gradient(circle, rgba(99,111,125,1) 5%, rgba(238,174,202,1) 82%, rgba(99,111,125,1) 100%);
  }
  60% {
    background: radial-gradient(circle, rgba(99,111,125,1) 50%, rgba(238,174,202,1) 81%, rgba(99,111,125,1) 100%);
  }
  70% {
    background: radial-gradient(circle, rgba(99,111,125,1) 0%, rgba(238,174,202,1) 82%, rgba(99,111,125,1) 100%);
  }
  80% {
    background: radial-gradient(circle, rgba(99,111,125,1) 0%, rgba(238,174,202,1) 83%, rgba(99,111,125,1) 100%);
  }
  90% {
    background: radial-gradient(circle, rgba(99,111,125,1) 0%, rgba(238,174,202,1) 84%, rgba(99,111,125,1) 100%);
  }
  100% {
    background: radial-gradient(circle, rgba(99,111,125,1) 0%, rgba(238,174,202,1) 85%, rgba(99,111,125,1) 100%);
  }
}

.nav {
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.gameTitle{
  font-weight: 900;
  font-size: xxx-large;
  text-align: center;
  /*! background: pink; */
  border-radius: 70rem;
  /*! padding: 20rem; */
  color: pink;
  margin-bottom: 5rem;
}

.btn {
  font-family: "Fira Code", serif;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

button{
  width: 20rem;
  background: none;
  border: none;
  color: pink;
  font-family: "Fira Code", serif;
  text-transform: uppercase;
  transition-property: font-size, font-weight, width, height;
  transition: transform 6s ease-in-out;
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

xbutton{
  height: 12vh;
  width: 16vh;
  max-height: 39px;
  max-width: 120px;
  background-color: #6BBF80;
  border: none;
  border-radius: 2px;
  transition: transform 0.08s ease-in-out; /* Dauer: 0,5s */
  box-shadow:  0 25px 2px -5px rgba(255,255,255,0.5) inset;
}
.subNav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
}
.opponent-hand, .player-hand {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.deck-area {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.card {
  width: 60px;
  height: 90px;
  background: #6BBF80;
  border-radius: 5px;
  border: 4px solid floralwhite;
  background-image: url("../img/cbg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Group .deck and .discard */
.deck, .discard{
  color:white;
  width: 60px;
  height: 90px;
  background: #2E5939;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  background-image: url("../img/cbg.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

/* Child .card of .player-hand and .discard .card */
.player-hand .card, .discard .card {
  transition: transform 0.08s ease-in-out; /* Dauer: 0,5s */
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7);
  color: black;
}

/* --    Alles   -- */
*{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.player-hand .card:hover{
  transform: scale(114%);
  z-index: 6;
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.7), 0 0px 10px 3px rgba(0,0,0,0.9);
}
.deck-area .deck:hover{
  transform: scale(104%);
  z-index: 6;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.4);
}
.deck-area .deck {
  transition: transform 0.08s ease-in-out; /* Dauer: 0,5s */
}
button:hover{
  transform: scale(103%);
  z-index: 6;
  /*box-shadow: 0 1px 3px 3px rgba(0,0,0,0.4), 0 25px 2px -5px rgba(255,255,255,0.6) inset;*/
  font-weight: bold;
  background: none;
  text-decoration: underline;
  text-decoration-color: rgb(44,44,44);
}
button:active{
  transform: scale(104%);
  z-index: 6;
  box-shadow: 0 1px 3px 3px rgba(0,0,0,0.4), 0 25px 2px -5px rgba(0,0,0,0.2) inset;
  font-weight: bold;
}

.opponentCard{
  transform: rotate(180deg);
}

.card-top, .card-bottom{
  text-align: justify;
  font-size: x-large;
}
.card-top::after, .card-bottom::after {
  content: "";
  display: inline-block;
  width: 95%;
}

.stapel{
  display: grid;
  place-content: center;

  > * {
    grid-area: 1 / 1;
  }
}


#ziehstapel{
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;


}
#ziehstapel div:first-child{
  transform: rotate(45deg);
}
#doubelstapel{
  z-index: 900;
  margin-left: 2px;
  margin-top: 2px;
  border:2px beige solid;
}
#doubelstapel2{
  z-index: 890;
  margin-left: 4px;
  margin-top: 4px;
  border:2px white solid;
}
#doubelstapel3{
  z-index: 880;
  margin-left: 6px;
  margin-top: 6px;
  border:2px grey solid;
}
#doubelstapel4{
  z-index: 870;
  margin-left: 8px;
  margin-top: 8px;
  border:2px ghostwhite solid;
}
#doubelstapel5{
  z-index: 860;
  margin-left: 10px;
  margin-top: 10px;
  border:2px darkgray solid;
}


#modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(66,66,66,1);
  z-index: 1000;
}

.modal-center {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-center-2x2 {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-center-color-wr {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal-center-color-wr .card {
  margin: 1vw;
  box-shadow:inset 0 0 150px 20px white!important;
}

.modal-center-color-wr .card:hover {
  margin: 1vw;
  box-shadow:inset 0 0 150px 20px #6BBF80 !important;
}

.modal-center-color-wr:first-child{
  grid-column: 1;
  grid-row: 1;
  padding: 100px;
}
.modal-center-color-wr:nth-child(2){
  grid-column: 2;
  grid-row: 1;
}
.modal-center-color-wr:nth-child(3){
  grid-column: 1;
  grid-row: 2;
}
.modal-center-color-wr:nth-child(4){
  grid-column: 2;
  grid-row: 2;
}

.nonInteractive .modal-center-color-wr .card {
  pointer-events: none;
}

.computerHover {
  margin: 1vw;
  box-shadow:inset 0 0 150px 20px #6BBF80 !important;
}
.modal-center-color-wr .card.computerHover {
  box-shadow: inset 0 0 150px 20px #6BBF80 !important;
  transform: scale(1.1);
}

.modal-center xbutton {
  width: 100%;
  height: 26%;
  max-height: none;
  max-width: none;
}

.startScreen{
  font-size: xxx-large;
}

.hidden {
  display: none !important;
}
/* FÄCHERE KARTEN AUF
.player-hand .card:nth-child(1) {
  transform: rotate(-15deg) translateY(-20px) translateX(55px);
  z-index: 6;
}
.player-hand .card:nth-child(2) {
  transform: rotate(-7deg) translateY(-50px) translateX(30px);
  z-index: 7;
}
.player-hand .card:nth-child(3) {
  transform:  translateY(-60px) ;
  z-index: 8;
}
.player-hand .card:nth-child(4) {
  transform: rotate(7deg) translateY(-50px) translateX(-30px);
  z-index: 9;
}
.player-hand .card:nth-child(5){
  transform: rotate(15deg) translateY(-20px) translateX(-55px);
  z-index: 10;
}
*/

/* Responsiveness */
@media screen and (min-width: 1024px) {
  .card, .deck, .discard {
    width: 120px;
    height: 180px;

  }
}
@media screen and (max-width: 1023px) {
  button{
    width: 100%;
  }
  .card{
    line-height: 0;
    font-weight: normal;
  }
}


